body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.header {
display: flex;
flex-direction: column;
align-items: center;
  background: url(..//img/Background.png) 100% 100% no-repeat;
  background-position: top;
  height: 700px; }

h1{
    font-weight: bold;
    font-size: 20px;
}


.login-buttons {
display: flex;
  margin: 25px;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    height: 25%;
    width: 80%;
    max-width: 100%;

}

.logo {
   
  text-transform: uppercase;
  font-size: 20px;

   }
.main-text{
   
    font-size: 52px;
    text-transform: uppercase;
}
.block-main-text{
     text-transform: uppercase;
   text-align: center;
    width: 470px;
    font-size: 52px;
}
.content-block{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.red-button{
    border-color: #FF4E50;
    height: 40px;
    border-radius: 50px;
    background: #FF4E50;
    color: #fff;
    margin: 20px;
}
.log-in{
    height: 40px;
    border-radius: 50px;
    background: none;
    color: #fff;
    border: none;
}
.log-in:hover{
    
    border: 2px solid #FFFFFF;
}
.log-in:active{
     transform: translateY(1px);
   filter: saturate(150%);
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: #000;
    margin: 25px;
    
    
}

.steps-blocks{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
        
}
.step{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    margin: 20px;
    
       
}
.text-header-style{
    font-weight: bold;
font-size: 24px;
color: #fff;
 
}
.text-content-style{
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
.step__sep-content{
    margin: 10px 25px 10px 25px;
}
.header-text{
    font-weight: bold;
    font-size: 26px;
    color: #000;
    
}
.partners-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    margin: 10px 58px 10px 58px;
    border-radius: 50%;
    
}
.small-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
        
}
.emploee-desc{
    width: 220px;
    
}
.name{
text-align: center;
font-size: 14px;
font-weight: bold;

}
.discription{
text-align: center;
font-size: 14px;
}
.no-background{
    background-color: #fff;
    color: #000;
}
