body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    
    background: url(..//img/Background.png) 100% 100% no-repeat;
    background-position: top;
    height: 911px;
    
}
.login-buttons{
    display: flex;
}
.logo{
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
}